@helper ShowCheckboxList(List<string> items, string elementName)
{
    <ul>
        @foreach (var item in items)
        {
            <li>
                <input type="checkbox" id="@("C"+item)" name="@elementName" value="@item"/>
                <label for="@("C"+item)">@item </label>
            </li>
        }
    </ul>
}

@helper ShowRadioList(List<string> items, string elementName)
{
    <ul class="list-group">
        @foreach (var item in items)
        {
            <li class="list-unstyled">
                <input type="radio" id="@("R"+item)" name="@elementName" value="@item" />
                <label for="@("R"+item)">@item </label>
            </li>
        }
    </ul>
}